.container {
  padding: 5rem 2rem 2rem 2rem;
  background: linear-gradient(rgba(116, 246, 255, 0.55), rgba(135, 173, 255, 0.55));
  min-height: 94vh;
}

.container .tabview-custom i,
.container .tabview-custom span {
  vertical-align: middle;
}

.container .tabview-custom span {
  margin: 0 0.5rem;
}

.container .p-button {
  margin-right: 0.25rem;
}

.container .p-tabview p {
  line-height: 1.5;
  margin: 0;
}

.calendar {
  width: 11rem;
  left: 0;
}

.container .p-col-10.p-fluid > div {
  /* width: 100px; */
  padding: 0;
  margin: 0;
}

.chart {
  height: '15rem';
}

.tabview {
  width: 100%;
}

.border {
  color: rgba(255, 86, 56, 0.925);
}

.button_export {
  background: linear-gradient(to left, var(--green-200) 50%, var(--green-300) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background-position 0.5s ease-out;
  color: #000;
  border-color: var(--green-300);
}
.button_export:hover {
  background-position: left bottom;
}
.button_export i {
  background-color: var(--green-300);
}
.button_export:focus {
  box-shadow: 0 0 0 1px var(--green-400);
}

.divLoading {
  position: 'relative';
  top: 45%;
  left: 50%;
  z-index: 400;
  height: 0;
  width: 0;
}

.divExport {
  position: 'relative';
  top: 4.5rem;
  left: 88%;
  z-index: 400;
  height: 0;
  width: 0;
}

@media (max-width: 1200px) {
  .divExport {
    left: 85% !important;
  }
}

@media (max-width: 1024px) {
  .divExport {
    left: 50% !important;
  }
}
