.container {
  padding: 5rem 2rem 2rem 2rem;
  background: linear-gradient(rgba(116, 246, 255, 0.55), rgba(135, 173, 255, 0.55));
  min-height: 94vh;
}

.container .tabview-custom i,
.container .tabview-custom span {
  vertical-align: middle;
}

.container .tabview-custom span {
  margin: 0 0.5rem;
}

.container .p-button {
  margin-right: 0.25rem;
}

.container .p-tabview p {
  line-height: 1.5;
  margin: 0;
}

.calendar {
  width: 11rem;
  left: 0;
}

.container .p-col-10.p-fluid > div {
  /* width: 100px; */
  padding: 0;
  margin: 0;
}

.chart {
  height: '15rem';
}

.tabview {
  width: 100%;
}

.border {
  color: rgba(255, 86, 56, 0.925);
}
